html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    //width:100%;
    //position: fixed;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.green{
    color: #3c763d;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
#language-picker-container ul {
    background-color: white;
}
#language-picker-container a {
    color: #337ab7;
}
#language-picker-container a:hover {
    color: #5BA4A4;
}

.navbar-profile-image-link {
    border-radius: 50%;
}

.curs table tbody tr td {
    cursor: pointer;
}

/*.curs table tbody tr td:first-child {
    cursor: default;
}

.curs table tbody tr td:last-child {
    cursor: default;
}

.curs table tbody tr td:nth-last-child(2) {
    cursor: default;
}*/

.nav > li > a.navbar-profile-link {
    padding: 10px;
    margin-left: 10px;
    margin-right: -10px;
}
.nav > li.active > a.navbar-profile-link {
    background: inherit;
}

.nav > li > a.navbar-profile-link:hover > img {
    background-color: #FFF;
    opacity: 0.8;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.user-more-info {
    cursor: pointer;
}
#user_more_info_container {
    color: #fff;
    padding-top: 100px;
    top: 0;
    bottom: 0;
    width: 357px;
    background: #000;
    position: fixed;
    right: -400px;
    overflow: auto;
}
.user-more-info-image {
    border-radius: 50%;
}
#user_more_info_container span.close {
    color: #fff;
    position: absolute;
    margin-top: 75px;
    margin-left: 15px;
    font-size: 25px;
    opacity: 1;
}

.nstyle-text{
    color: #337ab7
}

.nbtn-success {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.nbtn-success:focus,
.nbtn-success.focus {
    color: #fff;
    background-color: #5BA4A4;
    border-color: #5BA4A4;
}

.nbtn-success:hover {
    color: #fff;
    background-color:#5BA4A4;
    border-color: #5BA4A4;
}

.nbtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none !important;
}
.nbtn-lg, .btn-group-lg > .nbtn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;

}
.nnavbar-inverse {
    background-color: white;
}

.reports-site .navbar-brand {
    padding: 0;
}

.reports-site .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid #337ab7;
    border-radius: 4px;
}